form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.table{
    margin: 20px 20px;
    width: 100px;
}
table {
    width: 900px;
}
th {
    height: 80px;
}
td {
    height: 40px;
}